@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo {
  /* Usar ruta relativa para que funcione correctamente en GitHub Pages (bajo /Surprise/) */
  background-image: url("fondo2.jpg");
}